body{
    margin: 0;
    background: url(./img/background-kod.png);
    background-size: cover;
    color: white;
}
#app-container{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#showTask{
    padding-top: 12px;
    text-align: center;
    box-sizing: border-box;
    width: 120px;
    height: 56px;
    background-color: lightslategray;
    color: white;
    font-size: 26px;  
}
#input{
    height: 50px;
    width: 140px;
    font-size: 26px;
}
.btn{
    height: 56px;
    font-size: 16px;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
    transition: 0.1s;
}
.btn:focus{
    background-color: #888888;
    color: #f5f5f5;
    box-shadow: 0 0;
    opacity: 0.5;
}
#show-result-div{
    text-align: center;
    color: wheat;
    margin: 0px 20px;
}
