body{
    margin: 0;
    background: url(./img/background-3.png);
    background-size: cover;
    color: #ffffff;
}
#app-container{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#showTask{
    padding-top: 12px;
    text-align: center;
    box-sizing: border-box;
    width: 140px;
    height: 56px;
    background-color: #006eff;
    color: #ffffff;
    font-size: 26px; 
    margin: 10px;
    border-radius: 5px; 
}
#input{
    height: 50px;
    width: 140px;
    font-size: 26px;
    margin: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
.btn{
    background-color: #0044ff;
    height: 56px;
    font-size: 16px;
    box-shadow: 3px 3px #666;
    cursor: pointer;
    transition: 0.1s;
    margin: 10px; 
    color: white;

}
.btn:focus{
    background-color: #006eff;
    color: #ffffff;
    box-shadow: 0 0;
    opacity: 0.5;
}
#show-result-div{
    text-align: center;
    color: #ffffff;
    margin: 0px 20px;
}
